.reportpopup {
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.report-bg {
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(189, 189, 189, 0.9);
}

.reportpopup-buttons {
  display: flex;
  flex-direction: row !important;
}
