.discussion-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 10px;
  gap: 15px;
  width: 580px;
  background: #22091b;
  color: #fff;
  border: 1.5px solid #444343;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.discussion-answer-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.discussion-answer-details div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.discussion-answer-details img {
  height: 32px;
  border-radius: 50%;
}

.discussion-answer-details-date {
  font-size: 12px;
}

.discussion-answer-line {
  width: 560px;
  height: 0px;
  border: 1px solid rgba(157, 157, 157, 0.3);
}

.discussion-answer-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  gap: 15px;
}

.copy-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(18, 18, 18, 0.3);
  font-size: 16px;
}
