/* .question {
  width: 650px; 
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
} */

.friendrequest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  gap: 10px;
  width: 250px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 30px 0;
}

.friendrequest h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #22091b;
  /* border: 2px solid black; */
}

.friendrequest-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.question-tag p {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  background: rgba(255, 122, 0, 0.1);
  border-radius: 30px;
}
.friendrequest-txt img {
  width: 100px;
  height: 100px;
  border: 2px solid #fa9236;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.15));
  border-radius: 100px;
}

.question-level {
  font-size: 16px;
  font-weight: 600;
  padding: 4px 12px;
  background: rgba(255, 122, 0, 0.2);
  border-radius: 30px;
}

.question-acceptance {
  font-size: 16px;
  font-weight: 600;
}

.friendrequest-buttons {
  display: flex;
  gap: 15px;
}
