.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 70px;
}

.error h1 {
  font-size: 30px;
  color: #dc7418;
}

.error img {
  height: 500px;
  margin-bottom: 40px;
}
